{{> head }}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>vengadores</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla veritatis ratione laudantium minus deserunt molestiae eos nisi voluptatem harum hic totam corporis soluta illo itaque saepe aut, atque repellendus laboriosam!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/descarga.jpg" alt="avenger" class="img-thumbnail">
    </div>
</div>
{{> footer}}